# Ignore the virtual environment
venv/

# Ignore local junk
personal_computer.txt

# Ignore logs (you don't want to push your local run history)
Log/
*.log
Log/load_forecast_log.txt

# Ignore temporary files from our new UUID logic
temp_input_*.csv

# Ignore compiled python files
__pycache__/
*.pyc